In [ ]:
#import all dependencies
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

#import xgboost as xgb

#from sklearn.metrics import mean_squared_error

# **Data Pre Processing** #

In [2]:
df = pd.read_csv('Data/bookings_train.csv')

In [3]:
df. head()

,booking_id,citizen_id,booking_date,appointment_date,appointment_time,check_in_time,check_out_time,task_id,num_documents,queue_number,satisfaction_rating
0,f7b59ba3793fea61282cb02be2247cebd0a75306,4229044420,2021-01-01,2021-01-01,09:03,2021-01-01 09:11:00,2021-01-01 09:48:15.166353269,TASK-002,0,2,4
1,cfe30d53b4b645e4cb6b114f6c9d74a0f25e6a80,5389442635,2021-01-01,2021-01-01,09:12,2021-01-01 09:24:00,2021-01-01 10:24:12.189261137,TASK-001,1,1,4
2,0fb0a5d9b3944dd743a9e7828dc03fa74aa6ebf8,2123783919,2021-01-01,2021-01-01,09:36,2021-01-01 09:29:00,2021-01-01 10:26:48.802260864,TASK-002,1,6,5
3,d4bf826153212fa325ad98b215668ab942365607,6359918966,2021-01-01,2021-01-01,09:45,2021-01-01 10:07:00,2021-01-01 11:00:13.485642822,TASK-001,1,4,4
4,ebb4c9687acbaf65376d8e379bd1341d1c15127e,178732202,2021-01-01,2021-01-01,10:12,2021-01-01 10:26:00,2021-01-01 11:54:53.260180213,TASK-002,1,8,3

In [4]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203693 entries, 0 to 203692
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   booking_id           203693 non-null  object
 1   citizen_id           203693 non-null  int64
 2   booking_date         203693 non-null  object
 3   appointment_date     203693 non-null  object
 4   appointment_time     203693 non-null  object
 5   check_in_time        197601 non-null  object
 6   check_out_time       197601 non-null  object
 7   task_id              203693 non-null  object
 8   num_documents        203693 non-null  int64
 9   queue_number         203693 non-null  int64
 10  satisfaction_rating  203693 non-null  int64
dtypes: int64(4), object(7)
memory usage: 17.1+ MB

In [5]:
df['booking_date'] = pd.to_datetime(df['booking_date'])

In [6]:
df['appointment_date'] = pd.to_datetime(df['appointment_date'])
df['appointment_time'] = pd.to_datetime(df['appointment_time'], format='%H:%M').dt.time
df['check_in_time'] = pd.to_datetime(df['check_in_time'], errors='coerce')
df['check_out_time'] = pd.to_datetime(df['check_out_time'], errors='coerce')

In [7]:
#this is not directly used in the model, but can use in future
df['day_of_week'] = df['appointment_date'].dt.dayofweek        # 0=Mon, 6=Sun
df['month'] = df['appointment_date'].dt.month
df['year'] = df['appointment_date'].dt.year
df['is_weekend'] = df['day_of_week'].isin([5, 6]).astype(int)

# **Feature Engineering** #

In [8]:
df['service_duration'] = (df['check_out_time'] - df['check_in_time']).dt.total_seconds() / 60.0

In [9]:
df['task_id_encoded'] = df['task_id'].astype('category').cat.codes

# **Explotary Data Analysis / Data cleaning** #

In [10]:
df.isnull().sum()

booking_id                0
citizen_id                0
booking_date              0
appointment_date          0
appointment_time          0
check_in_time          6092
check_out_time         6092
task_id                   0
num_documents             0
queue_number              0
satisfaction_rating       0
day_of_week               0
month                     0
year                      0
is_weekend                0
service_duration       6092
task_id_encoded           0
dtype: int64

In [11]:
df = df.dropna(subset=['check_in_time', 'check_out_time', 'service_duration']).reset_index(drop=True)

# **Model Training** #

# **Model Evaluation** #